<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <%- include("partials/header.ejs") %>
  <div class="main top">
    <div class="errorPage">
      <h3>Oops! Something went wrong.</h3>
      <p>Error code <%=code %> : <%=error %></p>
    </div>
  </div>
  <%- include("partials/footer.ejs") %>

</body>

</html>