<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <%- include("partials/header.ejs") %>
  <div class="main">
    <div class="folderPage">


      <form class="fileUpload" action="/file/upload" method="post" enctype="multipart/form-data">
        <h3>Upload to "<%=title %>"</h3>
        <hr>
        <div>
          <input type="file" name="uploaded_file">
          <input type="hidden" name="folderId" value="<%=folder.id%>">
          <input type="hidden" name="userName" value="<%=locals.currentUser.username%>">
          <button>UPLOAD</button>

          <% if (locals.errorMsg) { %>
          <li class="uploadError"><%=errorMsg%></li>
          <% } %>
        </div>
      </form>

      <div class="currentFolder">
        <div class="folderHead"><img src="/images/folder-alt-svgrepo-com.svg">
          <h3><%=title%></h3>
        </div>

        <div>
          <% if (locals.folder.files.length < 1) { %>
          <p>The folder is empty</p>
          <% } else { %>
          <table>
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Size (KB)</th>
                <th scope="col">Date Uploaded</th>
                <th scope="col">Link</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% locals.folder.files.forEach((file) => { %>
              <tr>
                <th scope="row"><%=file.name%></th>
                <td><%=parseFloat(file.size/1024).toFixed(1)%></td>
                <td><%=file.uploadedAt.toISOString().substring(0, 10)%></td>
                <td><a href="/file/download?id=<%=file.id%>">DOWNLOAD</a></td>
                <td><form action="/file/delete" method="post">
                  <input type="hidden" name="deleteId" value="<%=file.id%>">
                  <button class="fileDeleteBtn">DELETE</button>
                </form></td>
              </tr>
              <%}) %>
            </tbody>
          </table>
          <% }%>
        </div>
      </div>
    </div>
  </div>
  <%- include("partials/footer.ejs") %>
</body>

</html>