<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <%- include("partials/header.ejs") %>
  <div class="main">
    <h2><%=title %></h2>

    <hr>
    <p>Upload new file</p>
    <form action="/file/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="uploaded_file">
      <input type="hidden" name="folderId" value="<%=folder.id%>">
      <input type="hidden" name="userName" value="<%=locals.currentUser.username%>">
      <button>UPLOAD A FILE</button>
      
      <% if (locals.errorMsg) { %>
        <p><%=errorMsg%></p>
      <% } %>
    </form>

    <hr>
    <h2>FILES</h2>

    <% locals.folder.files.forEach((file) => { %>
    <div>
      <p><%=file.name %></p>
      <a href="/file?id=<%=file.id%>">VIEW</a>
    </div>
    <%}) %>
  </div>
  <%- include("partials/footer.ejs") %>
</body>

</html>