<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>

  <% if (locals.currentUser) { %>
  <%- include("partials/header.ejs") %>
  <div class="main">
    <h2>WELCOME!, <%=currentUser.username %></h2>

    <form action="/folder/new" method="post">
      <p>CREATE NEW FOLDER</p>

      <input type="text" name="folderName" placeholder="Enter folder name...">
      <%- include("partials/folderNameError.ejs") %>

      <button>CREATE</button>
    </form>

    <hr>

    <h2>YOUR FOLDERS</h2>

    <% locals.folders.forEach((folder) => { %>
    <ul>
      <li><%=folder.name %></li>
      <a href="/folder?id=<%=folder.id%>">VIEW</a>
    </ul>
    <% }) %>

  </div>
  <%- include("partials/footer.ejs") %>


  <% } else { %>
  <%- include("partials/header.ejs") %>
  <div class="main">
    <div class="notLogged">
      Log in or Sign Up to start uploading your files.
    </div>
  </div>
  <%- include("partials/footer.ejs") %>
  <% } %>

</body>

</html>